body {
    background-image: url('Images/FondVert.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}

.menu {
    position: absolute;
    top: 30px;   /* Distance du haut */
    right: 5%;  
    display: flex;
    align-items: center; /* Aligne verticalement les textes */
    list-style: none;
    gap: 30px; /* L'espace entre tes rubriques */
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 30px; /* Espace entre les rubriques */
    font-weight: bold;
}

.menu a:hover {
    color: #ffff00; /* Le lien devient jaune au survol */
}


.dropdown {
    position: relative;
    display: inline-block;
}

/* Le menu caché par défaut */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Se place juste en dessous du lien */
    left: 0;
    background-color: #fff9f3;
    min-width: 180px;
    z-index: 1000;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    flex-direction: column; /* LUI, il doit être vertical */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
}

.dropdown-content li {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Style des liens à l'intérieur du menu déroulant */
.dropdown-content li a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    text-transform: none; /* On peut laisser en minuscule pour différencier */
    transition: background 0.3s;
    text-align: left;
    width: 100%;       /* Force la largeur totale */
    box-sizing: border-box;
}

/* Changement de couleur au survol d'une sous-rubrique */
.dropdown-content li a:hover {
    background-color: #ff7ac3; /* Ton Rose */
    color: white;
}

/* L'ACTION : Afficher le menu au survol */
.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s ease; /* Petit effet d'apparition fluide */
}

/* Animation optionnelle pour la fluidité */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.photo-intro {
padding: 100px 10%;
}

.titre-jaune {
    color: #ffff00;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px rgba(41, 41, 41, 0.7);
}

.decorative-line-contact {
    width: 60px;
    height: 5px;
    background-color: #ffff00;
}

.photo-intro p {
    max-width: 1100px;
    line-height: 1.8;
    font-size: 1.1rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(41, 41, 41, 0.7);
    text-align: justify;
    margin-top: 50px;
}

.carousel-title {
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 1.3rem;
    color: #ff7ac3;
    text-transform: uppercase; /* Optionnel : pour le côté un peu "éditorial" */
    letter-spacing: 3px;
    text-shadow: 2px 2px 10px rgba(41, 41, 41, 0.7);
}

/* CARROUSEL */
.carousel-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    position: relative;
    margin : 0 auto;
}

.carousel-view {
    width: 100%;
    overflow: hidden; /* Cache les photos qui dépassent */
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.theme-card {
    min-width: calc(50% - 14px); /* Affiche combien de photo */
    position: relative;
    cursor: pointer;
}

.theme-card img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Évite que les photos soient déformées */
    border-radius: 15px;
    object-position: center;
}

/* Texte au survol */
.theme-overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(255, 122, 195, 0.85);
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: bold;
}

.theme-card:hover .theme-overlay {
    opacity: 1;
}

.gallerie-description {
   margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.8;
    font-size: 1.1rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(41, 41, 41, 0.7);
    text-align: justify; /* Pour que ce soit propre comme ton intro */
    display: block; /* S'assure que l'élément se comporte comme un bloc */
}

/* GRILLE DU BAS */
.photo-grid {
   display: block; /* ON ENLÈVE LE GRID ICI */
    column-count: 2;
    column-gap: 20px;
    margin: 40px 10% 0 10%; /* Haut: 40px, Droite: 5%, Bas: 0, Gauche: 5% */
    padding: 0;
}

.photo-grid img {
    width: 100%;
    display: block;
    margin-bottom: 20px; /* L'espace entre les photos verticalement */
    border-radius: 8px;
    break-inside: avoid; /* Empêche l'image de se couper entre deux colonnes */
    transition: transform 0.3s ease; /* Petit bonus pour le survol */
}
.photo-grid img:hover {
    transform: scale(1.02); /* Elles zooment un tout petit peu quand on les survole */
}

@media (max-width: 768px) {
    #gallery-grid {
        column-count: 2;
    }
}

.arrow-btn {
    background: none; border: none; color: white;
    font-size: 3rem; cursor: pointer; padding: 10px;
    transition: color 0.3s ease;
}

.arrow-btn:hover {
    color: #ffff00;
}

/* Bouton retour */
.back-button {
    position: fixed;
    top: 30px;
    left: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    z-index: 100;
    transition: 0.3s;
    background: rgba(0,0,0,0.3);
    padding: 10px 20px;
    border-radius: 30px;
}

.back-button:hover {
    color: #ffff00;
    background: rgba(0,0,0,0.6);
}

/* Responsive */
@media (max-width: 768px) {
    .video-main-title { font-size: 2.5rem; }
    .video-detail-section { padding: 80px 5%; }
}

.titre-gallerie {
    color: #ffff00;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: left;
    text-shadow: 2px 2px 10px rgba(41, 41, 41, 0.5);
    margin-left: 10%;      /* Ta marge habituelle */
    margin-top: 60px;      /* Un peu d'espace avec le carrousel au-dessus */
    margin-bottom: 40px;   /* Un peu d'espace avec les photos en-dessous */
}

.lightbox {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 2000; /* Au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond noir transparent */
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff9f3;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close-lightbox:hover {
    color: #ffff00;
}

.theme-card img, .photo-grid img {
    background: #f0f0f0; /* Couleur de fond sombre */
    
    min-height: 200px;   /* Garde une structure même vide */
    transition: filter 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Transition douce pour le flou */
}

.img-loading {
    filter: blur(10px);
    clip-path: inset(0); /* Empêche le flou de déborder sur les côtés */
    border-radius: 8px;
}
@keyframes pulse {
    0% { background-color: #2a2a2a; }
    50% { background-color: #3a3a3a; }
    100% { background-color: #2a2a2a; }
}

.theme-card img:not([src]), .gallery-grid img:not([src]) {
    animation: pulse 1.5s infinite;
}
